@{
    ViewData["Title"] = "About";
}
<h3>@ViewData["Title"]</h3>

<p>We are a local train company, that started up in december 2018 and aim to provide quick and accurate train 
    services for you, our esteemed customer.</p>
