@{
    ViewData["Title"] = "Contact";
}
<h3>@ViewData["Title"]</h3>

<address>
    Trains Now Warehouse<br />
    Cardiff, CF24 3BX<br />
    <abbr title="Phone">P:</abbr>
    02920368721
</address>

<address>
    <strong>Support:</strong>support@trainsnow.com<br />
</address>
