@{
    ViewData["Title"] = "Results";
}

<h2 class="text-left">Departure Times</h2>
<div id="departureBox" class="text-left">
    @{
        List<string> resultList = resultModel.resultValue;

        foreach (string s in resultList)
        {
            string b = s + Environment.NewLine;
            @b
        }
    }
</div>
