@{
    ViewData["Title"] = "Results";
}

<h2 class="text-left">Departure Times</h2>
<p id="departureBox" class="text-left">
    @{

/*List<string> resultList = (List<string>)TempData["depart"];

foreach (string s in resultList)
{
@s;
}*/
    }
</p>
