@{
    ViewData["Title"] = "Results";
}


@{
    List<Service> resultList = resultModel.resultValue;
    string error = resultModel.error;
}

<h2 class="text-left">Departure Times</h2>

<div class="panel-group" id="displayGrouper">
    @{
        if (error != null && error != "")
        {
            @error
        }

        else
        {
            int i = 0;

            foreach (Service item in resultList)
            {
                i++;

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#displayGrouper" href="@string.Format("#collapse{0}",i)">
                                @item.dep_time
                            </a>
                        </h4>
                    </div>
                    <div id="@string.Format("collapse{0}",i)" class="panel-collapse collapse">
                        <div class="panel-body">
                            Other specific service details here.
                        </div>
                    </div>
                </div>
            }
        }
    }
</div>
