@{
    ViewData["Title"] = "Technical Issues";
}

<h3>@ViewData["Title"]</h3>

<div class="container">
    <div class="row">
        <img class="col-xs-12" src="~/images/techDiff.png" />
    </div>
    <h4 style="color:red;">We are experiencing technical issues at the moment. Rest assured that our team is doing doing their best to fix it and it should be opertional again soon.</h4>
</div>
